<!DOCTYPE html>
<html lang="en" ng-app="CartApp">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="bower_components/angular/angular.js"></script>
        <script src="cart.js"></script>
        <script src="cartsvc.js"></script>
    </head>
    <body ng-controller="CartCtrl">

        Item:
        <input type="text" placeholder="Item" size="30"
                ng-model="item">
        <button type="button" ng-click="add()">Add</button>

        <ul>
            <li ng-repeat="i in items">
                {{ i }}
            </li>
        </ul>

    </body>
</html>