<!DOCTYPE html>
<html lang="en" ng-app="DPApp">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <script src="bower_components/angular/angular.js"></script>
        <script src="index.js"></script>
    </head>
    <body ng-controller="DPCtrl">

        Message:
        <input type="text" placeholder="Enter message for promise"
                ng-model="deferMessage">
        <br><br>

        <button type="button" ng-click="resolveBtn()">
            Resolve
        </button>
        <button type="button" ng-click="rejectBtn()">
            Reject
        </button>

        <br><br>
        <hr>

        <h1>Defer message: <span>{{ promiseMessage }}</span></h1>

        <button type="button" ng-click="newDefer()">
            Create New Defer
        </button>

    </body>
</html>